*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
.color-white{
    color:white;
}

ul{
    list-style: none;  
   float: right;
   width: 30%;
    
}
.bg-black{
    background-color: black;
}
.bg-gray{
    background-color: #ccc;
}
.text-center{
    text-align: center;
}
ul li{
 
    margin-left: 5%;
    display: inline-block;
    padding-top:5px;
    cursor: pointer;
}
.content-nav{
    padding: 10px;
 
}
.sec-card{
    height: 100vh;
}

.content-nav h2{
 display: inline-block;

}
/* ////////////////////////////// */
.padding-top-bottom{
padding: 10% 6%;
}

.card{
 
    padding: 20px;
    width: 30%;
    box-shadow: 0px 0px 4px 4px gray;
    float: left;
    margin-top: 3%;
    
}
.card-2{
    margin: 0px 4%;
    vertical-align: bottom;
}
.fix{
    clear: both;
}

