*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
.container{
    width: 80%;
    margin: auto;
}
.w-100{
    width: 100%;
}
.padding-top-bottom{
    padding:4% 0%;
}
.d-flex{
    display: flex;
}
.justify-content-between{
  justify-content: space-between;  
}
.bg-light{
    background-color: rgb(245, 245, 245);
}
.text-white{
    color: white;
}
section{
    margin-top: 10%;
}
.card{
    width: 30%;
    padding: 2%;
    background: rgb(224,251,252);
    position: relative;
    overflow: hidden;
    transition: 0.6s;
}
.card h3, .card p{
    z-index: 3;
    position: relative;
}

.icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: cadetblue;
     border-bottom-left-radius: 30px;
    z-index: 2;   
}

.icon-1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
        background: cadetblue;
    border-bottom-left-radius: 30px;
    z-index: -1;
    transition: 0.6s linear;
    color: white;
}

.card:hover .icon-1::before{
    width: 100vw;
    height: 100vw;
    top: -250px;
    right: -250px;
    border-radius: 50%;
    color: white;
}
.card-2:hover{
background-color:white ;
box-shadow: 0px 0px 4px 4px rgb(230,230,230) ;
}
.card-3{
    border:2px solid transparent;
}
.card-3:hover{
    border: 2px solid cadetblue;
}
.card-4{
  
    border:1px solid #ccc;
    width: 30%;
    padding: 2%;
    position: relative;
    overflow: hidden;
    transition: 0.6s;
    cursor:pointer;
    transition:.4s;
    margin: auto;
}

.content{
    padding:25px;
    position:relative;
    z-index:2;
}
.corner{
    position: absolute;
    top: 10px;
    right: 5px;
    color:white;
    display: none;
}
.card-4:hover .corner{
display: block;
}



.card-4::before{
    content:"";
    position:absolute;
    top:0;
    right:-70px;
    width:90px;
    height:100%;
    background:#d1006b;
    transform:skewX(12deg);
    transition:.4s;
}


.card-4:not(:hover)::before{
    right:-120px;
}

.card-4:hover::before{
    bottom:-70px;
}

.card-4:hover{
    border-color:#d1006b;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}